REACT_APP_SUPABASE_URL=https://bbgwmlifhvdrrlnzcfsm.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJiZ3dtbGlmaHZkcnJsbnpjZnNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMjc2NzYsImV4cCI6MjA3MDkwMzY3Nn0.vD0_Pepe_6oQgX3Te3tK1PKnPU4ma5MsyFgaHQWuoXA